/** @format */

body {
  background-color: #f5f6f9;
}

.rates-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-family: "Roboto Mono", monospace;
  height: 40px;
  background-color: #fff !important;
  overflow: hidden;
}
.rates-line ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}
.rates-line ul li {
  margin-left: 15px;
  margin-right: 15px;
  white-space: nowrap;
}
.rates-line ul li.grow {
  color: #2469f0;
}
.rates-line ul li.grow .symbol-name {
  color: #1d1d1f;
}

/** @format */

@media (max-width: 768px) {
  .rates-line {
    display: none;
  }
}
