/** @format */

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.logo,
.logo:hover {
  text-decoration: none;
  -webkit-text-decoration-color: #1d1d1f;
  text-decoration-color: #1d1d1f;
  font-size: 1.875rem;
  font-weight: 300;
  font-family: GT Walsheim Pro, sans-serif;
}
.logo .twelve,
.logo:hover .twelve {
  font-weight: 700;
}
.navbar .navbar-nav .nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.navbar .navbar-nav.items .nav-item {
  margin-left: 22px;
  margin-right: 22px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.dropdown-menu .dropdown-item.forex .colored {
  fill: #b880ff;
}
.dropdown-menu .dropdown-item.crypto .colored {
  fill: #3f88ff;
}
.dropdown-menu .dropdown-item.etf .colored {
  fill: #ff7070;
}
.dropdown-menu .dropdown-item.indices .colored {
  fill: #f8c645;
}
.dropdown-menu .dropdown-item.stocks .colored {
  fill: #2cc97e;
}
.dropdown-menu .dropdown-item.excel .colored {
  fill: #319f63;
}
.dropdown-menu .submenu-item {
  display: block;
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 700;
}
a {
  color: #2469f0;
  text-decoration: none;
  background-color: transparent;
}
.dropdown-menu .dropdown-item {
  margin-top: 0.625rem;
  margin-bottom: 1.875rem;
  padding-left: 0;
  line-height: 1rem;
  white-space: normal;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-menu .submenu-item-image {
  float: left;
  padding-right: 24px;
}
.dropdown-menu .submenu-item {
  display: block;
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 700;
}
.dropdown-menu .submenu-item-headline {
  display: block;
  font-size: 1rem;
  line-height: 1.75rem;
}
.dropdown-menu .submenu-header {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}
.nav-item .dropdown-menu .menu-inner {
  padding: 1.875rem;
  border-radius: 16px;
}

@media (min-width: 992px) {
  .nav-item .dropdown-menu .menu-inner {
    padding: 1.875rem 3.75rem;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    top: 70px;
    transform: translateX(-29%);
  }
}
