/** @format */
body {
  font-family: "Montserrat", sans-serif;
}
.card__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #edeff3;
  color: #9da2ac;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75;
  text-align: center;
  padding: 7px 0 5px;
  border-radius: 16px 16px 0 0;
}
.card__label_green {
  background: #2cc97e;
  color: #fff;
}
.pricing-desc__free {
  font-weight: 600;
  height: 30px;
  opacity: 1;
  max-height: 30px;
  transition: max-height 0.5s linear, opacity 1s;
}
.card__label_small {
  font-size: 0.875rem;
  line-height: 1.57;
  padding: 5px 0 4px;
  transition: margin-top 0.5s linear, border-radius 0.25s linear;
}

.pricing-card__item_custom {
  background: #1d1d1f !important;
  color: #fff;
}
.pricing-card__item {
  position: relative;
  box-shadow: 0 20px 40px rgba(40, 47, 112, 0.04);
  border-radius: 16px;
  padding: 40px 0 26px;
  height: 100%;
  transition: padding 0.5s linear;
}
.soft {
  background-color: #fff;
}
.card__info {
  text-align: center;
  padding: 0 20px 25px;
}
.card__text-muted {
  opacity: 0.3;
  height: 22px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}
.card__title.custom {
  margin-bottom: 3px;
}
.card__title {
  font-size: 24px;
  line-height: 38px;
  height: 38px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
}
.card__price_currency__text {
  width: 97px;
  height: 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #fff;
}
.card__price {
  position: relative;
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.42;
  margin-top: -5px;
}
.card__price_year:not(.zero) {
  margin: 0.625rem 0 0;
  font-weight: 700;
}
.card__saving {
  color: #2cc97e;
  font-weight: 600;
  height: 2rem;
  opacity: 1;
  max-height: 2rem;
  transition: max-height 0.25s linear, opacity 1s;
}
.card__info .card__subscribe {
  padding-left: 5px;
  padding-right: 5px;
}
.card__info .btn {
  margin: 25px 0 0;
}
.plans-top-custom {
  margin-bottom: 34px;
}
.btn-block {
  display: block;
  width: 100%;
  border-radius: 50px;
}
.card__price .card__price_currency {
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 600;
  height: 22px;
  margin-right: 5px;
  padding-top: 6px;
}
.card__price_year {
  height: 2rem;
  opacity: 1;
  max-height: 2rem;
  transition: max-height 0.25s linear, opacity 1s;
}
.card__price_year:not(.zero) {
  margin: 0.625rem 0 0;
  font-weight: 700;
}
.list__wrap li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 2px;
  background: url(https://twelvedata.com/images/icons/icon-daw-dark.svg)
    no-repeat 50% 50%;
  width: 24px;
  height: 24px;
}
.list__wrap.list__wrap_light li:before {
  background: url(https://twelvedata.com/images/icons/icon-daw-light-1.svg)
    no-repeat 50% 50%;
}
.card__text {
  padding: 0 20px;
}
.list__wrap {
  padding: 0;
  margin-bottom: 0;
}
.card__text .list__wrap li {
  white-space: normal;
  line-height: 1.875rem;
  font-size: 15px;
  margin-bottom: 8px;
}
.list__wrap li {
  position: relative;
  list-style-type: none;
  padding-left: 39px;
  margin: 0 0 10px;
}
.card__speed .radio {
  width: calc(30% + 20px);
  position: relative;
  transition: all 0.3s linear;
  margin: 0 -20px;
  padding-bottom: 5px;
}
.card__speed .radio.active {
  color: #2469f0;
  font-weight: 700;
}
.card__speed .radio:before {
  transition: all 0.5s linear;
  position: absolute;
  content: "";
  left: 0;
  top: 28.5px;
  width: 100%;
  height: 2px;
  background: 0 0;
}
.card__speed .radio.active:before {
  background: #2469f0;
}
.card__speed .quota-selector-text.active {
  opacity: 1;
}
.card__label_dark {
  background: #1d1d1f;
  color: #fff;
}
.card__label_green {
  background: #2cc97e;
  color: #fff;
}
