/** @format */

.pricing-intro {
  padding-bottom: 8.5rem;
}
.medium {
  background-color: #f7f8fa;
}
.wrapper.intro .description {
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.wrapper.intro h1 {
  font-size: 2.875rem;
  line-height: 4rem;
  font-weight: 400;
  margin-bottom: 15px;
}
.wrapper.intro h2 {
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.btn-group-toggle > .btn-group > .btn input[type="checkbox"],
.btn-group-toggle > .btn-group > .btn input[type="radio"],
.btn-group-toggle > .btn input[type="checkbox"],
.btn-group-toggle > .btn input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:nth-child(n + 3),
.btn-group > :not(.btn-check) + .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
.pricing-intro .btn-group label {
  font-size: 1rem;
  width: 10.1875rem;
}
